<!doctype html>
<html lang="tr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <!-- Bootstrap CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    {% load static %}
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
  </head>
  <body>

  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="/">Hava Aracı Üretim Uygulaması</a> <!-- Proje adı uygun olacak şekilde güncellendi -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav">
            <!-- Montaj Takımı kullanıcıları için -->
            {% if request.user.personnel.team.name == 'MONTAJ' %}
                <li class="nav-item">
                  <a class="btn btn-primary me-2" href="{% url 'assemble_plane' %}">Uçak Montajı</a>
                </li>
                <li class="nav-item">
                  <a class="btn btn-secondary me-2" href="{% url 'assembly_report' %}">Montaj Raporları</a>
                </li>
        
            <!-- Kanat Takımı kullanıcıları için -->
            {% elif request.user.personnel.team.name == 'KANAT' %}
                <li class="nav-item">
                  <a class="btn btn-primary me-2" href="{% url 'team_parts_list' %}">Kanat Takımı Parçaları</a>
                </li>
                <li class="nav-item">
                  <a class="btn btn-secondary me-2" href="{% url 'part_create' %}">Yeni Parça Üret</a>
                </li>
        
            <!-- Gövde Takımı kullanıcıları için -->
            {% elif request.user.personnel.team.name == 'GOVDE' %}
                <li class="nav-item">
                  <a class="btn btn-primary me-2" href="{% url 'team_parts_list' %}">Gövde Takımı Parçaları</a>
                </li>
                <li class="nav-item">
                  <a class="btn btn-secondary me-2" href="{% url 'part_create' %}">Yeni Parça Üret</a>
                </li>
        
            <!-- Kuyruk Takımı kullanıcıları için -->
            {% elif request.user.personnel.team.name == 'KUYRUK' %}
                <li class="nav-item">
                  <a class="btn btn-primary me-2" href="{% url 'team_parts_list' %}">Kuyruk Takımı Parçaları</a>
                </li>
                <li class="nav-item">
                  <a class="btn btn-secondary me-2" href="{% url 'part_create' %}">Yeni Parça Üret</a>
                </li>
        
            <!-- Aviyonik Takımı kullanıcıları için -->
            {% elif request.user.personnel.team.name == 'AVIYONIK' %}
                <li class="nav-item">
                  <a class="btn btn-primary me-2" href="{% url 'team_parts_list' %}">Aviyonik Takımı Parçaları</a>
                </li>
                <li class="nav-item">
                  <a class="btn btn-secondary me-2" href="{% url 'part_create' %}">Yeni Parça Üret</a>
                </li>
            {% endif %}
        </ul>
        
    
          <div class="d-flex">
            {% if request.user.is_authenticated %}
              <a class="btn btn-danger ms-3" href="{% url 'logout' %}">Çıkış Yap</a>
            {% else %}
              <a class="btn btn-outline-success" href="{% url 'login' %}">Oturum Aç</a>
            {% endif %}
          </div>
        </div>
      </div>
    </nav>
    
    
    <div class="d-flex justify-content-center">
      <img src="{% static 'img/aircraft.png' %}" class="card-img" style="width:100%;max-width:600px;height:auto;" alt="Hava Aracı">
    </div>
          
  </header>
  <div class="container">
