{% include 'includes/header.html' %}

<div class="container mt-5">
    <h2>Uçak Montaj Raporu</h2>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Uçak</th>
                <th>Montaj Tarihi</th>
                <th>Durum</th>
                <th>Kullanılan Parçalar</th>
            </tr>
        </thead>
        <tbody>
            {% for assembly in assembly_data %}
                <tr>
                    <td>{{ assembly.plane }}</td>
                    <td>{{ assembly.date_assembled }}</td>
                    <td>{{ assembly.status }}</td>
                    <td>
                        <ul>
                            {% for part in assembly.parts %}
                                <li>{{ part.part.name }} - {{ part.quantity_used }} adet</li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% include 'includes/footer.html' %}
